.carousel-container {
  position: relative;
  width: 100%;
  height: 500px; /* Ajustez selon la hauteur souhaitée pour le carrousel */
  overflow: hidden; /* Cache les débordements */
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: auto;
}

.button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Assurez-vous que le bouton est au-dessus du carrousel */
}

.btn-primary {
  position:absolute;
  top:400px;

  padding: 10px 20px; /* Taille du bouton */
  font-size: 16px; /* Taille du texte */
  z-index:1000;
}
