body {
    margin: 0;
    padding: 0;
    background: none; /* Assurez-vous qu'il n'y a pas d'image de fond parasite */
}

.barsearch {
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray);
    width: 100%;
    height: 60px; /* Spécifiez une hauteur fixe pour la barre */
    z-index: 999;
    padding: 0 20px; /* Espacement interne pour les éléments de la barre */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur et la hauteur */
}

.barsearch-left,
.barsearch-center,
.barsearch-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.barsearch-center {
    max-width: 800px; /* Limiter la largeur de la zone centrale */
    margin: 0 auto; /* Centrer horizontalement */
}

.icon-loupe {
    margin-left: 10px; /* Espacement entre la loupe et les autres éléments */
}

.fas {
    font-size: 24px; /* Taille des icônes */
}

@media screen and (max-width: 768px) {
    .barsearch {
        flex-direction: row; /* Afficher les éléments en ligne sur les petits écrans */
        height: auto; /* Ajuster la hauteur pour les petits écrans */
        padding: 10px; /* Ajouter un peu de padding */
    }

    .barsearch-center {
        width: 100%; /* Utiliser toute la largeur disponible */
        max-width: none; /* Supprimer la largeur maximale pour les petits écrans */
    }

    .icon-loupe {
        margin-left: 0; /* Réinitialiser l'espacement pour les petits écrans */
    }
}
