/* Importation de styles généraux */
@import url('../App.css');

/* Style général du body */
body {
    position: relative;
    padding-top: 0;
}

/* Style de la barre de navigation */
.navbar-custom {
    position: absolute;
    top:60px;
    left:0;
    z-index: 1000;
    background-color: white;
    color: gray;
    width: 100%;
    height: auto;
    padding-top: 0;
}

.navbar-custom .navbar-logo {
    margin-right: 900px;
    width: 30px;
    height: auto;
}

/* Style de la popup */
.popup {
    position: fixed; /* Utiliser fixed pour garder la popup en place */
    top: 10%; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
    right: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 400px;
    width: 100%;
    max-height: 80vh; /* Limiter la hauteur maximale */
    overflow-y: auto; /* Activer le défilement vertical */
}

/* Style de l'en-tête de la popup */
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Style du contenu de la liste des articles */
.liste-container {
    max-height: 60vh; /* Limiter la hauteur maximale de la liste */
    overflow-y: auto; /* Activer le défilement vertical */
}

.purchased-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.item-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px; /* Ajusté pour aligner avec le texte */
}

.item-details {
    flex-grow: 1;
    padding-left: 10px;
}

.item-title {
    font-weight: bold;
}

.item-price,
.item-quantity {
    display: block;
}

.remove-item {
    cursor: pointer;
    color: red;
}

/* Style de la section total */
.total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.navbar-nav .nav-link {
    margin-left: 15px; /* Espacement entre les liens */
    font-weight: bold; /* Rend le texte en gras */
    font-size:18px;
  }
  
  .nav-links {
    margin-right: auto; /* Pousse les liens vers la droite */
  }
.total-label {
    font-weight: bold;
}

.total-amount {
    font-weight: bold;
}

/* Style des boutons */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.close-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.reinit-button,
.valid-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.reinit-button:hover,
.valid-button:hover {
    background-color: #f0f0f0; /* Couleur de survol, à ajuster selon votre thème */
}
